[init]
	defaultBranch = master
[user]
	email = goldstein.w.n@gmail.com
	name = Noah Goldstein
[core]
	editor = emacs
[safe]
	directory = /home/noah/programs/research/autolock/linux-dev/src
[sendemail]
	smtpencryption = tls
	smtpserver = smtp.gmail.com
	smtpuser = goldstein.w.n@gmail.com
	smtpserverport = 587
[credential]
    helper = store